/* Import Google font Radio Canada Big */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Radio Canada Big", sans-serif;
    /* Sets minimum viewport height and parent flex properties */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

#toggle-navbar {
    display: none;
}

#logo {
    margin: 0;
    text-align: center;
    padding: 20px 16px 20px 8px;
    font-size: 2rem;
}

#burger {
    font-size: 180%;
    padding-right: 18px;
}

nav ul {
    display: none;
}

/* Main */
main {
    background-color: orange;
    /* Child flex properties to fill page height */
    flex: 1 0 auto;
}

#hero {
    background: url("../images/pest-control-hero-image.webp") no-repeat center center/cover;
    width: 100%;
    height: 300px;
}

/* Footer */
footer {
    background-color: lightgreen;
}
