/* Import Google font Radio Canada Big */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Radio Canada Big", sans-serif;
    color: #1f1f1f;
    /* Set minimum viewport height */
    min-height: 100vh;
    /* Parent flex properties */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #ff474c;
    width: 100%;
    box-shadow: 0 2px 2px #1f1f1f;
    z-index: 99;
    padding: 0 1rem;
    position: fixed;
    /* Parent flex properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    /* Stop links changing style when clicked */
    text-decoration: none;
    color: inherit;
}

#toggle-navbar {
    /* Hide burger checkbox */
    display: none;
}

#toggle-navbar:checked~nav {
    /* Display nav dropdown if burger is clicked */
    display: block;
}

#logo {
    letter-spacing: 1px;
    font-size: 1.25em;
    padding: 10px;
}

#burger {
    font-size: 180%;
    padding-right: 18px;
}

/* Navbar */
nav {
    background-color: #ff474c;
    box-shadow: 0 2px 2px #1f1f1f;
    border-bottom-left-radius: 8px;
    /* Do not display by default, display toggled by burger */
    display: none;
    /* Position navbar relative to header */
    right: 0px;
    position: absolute;
    top: 100%;
}

#menu {
    letter-spacing: 2px;
    list-style-type: none;
    line-height: 30px;
}

#menu a {
    height: 100%;
    width: 100%;
    padding: 0.3em 1.5em;
    display: block;
    transition: background 1.5s ease, font-size 1.5s ease;
}

#menu li:not(:last-child) {
    /* Add border lines separating navbar options */
    border-bottom: 1.2px #1f1f1f solid;
}

#menu a:hover:not(.active) {
    /* Hover styling for navbar links except current page*/
    background: rgba(0, 0, 0, 0.2);
    font-size: 108%;
}

.active {
    background-color: #1f1f1f;
    color: white;
}

/* Main */
main {
    background-color: #FFF7F1;
    margin-top: 16px;
    position: relative;
    /* Child flex properties to fill page height */
    flex: 1 0 auto;
    /* Parent flex properties */
    display: flex;
    flex-direction: column;
}

#hero {
    position: relative;
    width: 100%;
    height: 600px;
    background: url("../images/wall-custom-cropped-lossy.webp") no-repeat 80% 50% / cover;
    /* Tint background white */
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;

}

#call-us-box {
    position: absolute;
    color: white;
    background-color: #00000099;
    bottom: 10%;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 0px;
}

.call-us {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFF7F100;
    display: inline-block;
    border: white 2px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
    transition: opacity 1.5s ease;
}

#call-us-option-two {
    display: none;
}

#call-us:hover {
    opacity: 0.5;
}

/* What do we help with section */
#what-do-we-help-with {
    box-shadow: 0 0px 8px 2px #1f1f1f;
    z-index: 2;
    background-color: #ff474c;
    padding: 5px 0px;
}

#what-do-we-help-with h2 {
    text-align: center;
    color: #1f1f1f;
    padding: 10px 0px 10px 0px;
}

#what-do-we-help-with div {
    padding: 10px 0px 20px 0px;
    /* Parent flex properties */
    display: flex;
    flex-wrap: wrap;
}

#what-do-we-help-with a {
    border: #1f1f1f solid 2px;
    color: #1f1f1f;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1.25rem;
    transition: background 1.5s ease;
    text-transform: uppercase;
    /* Child flex properties */
    flex: 1 150px;
}

#what-do-we-help-with a:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* Reviews section */
#reviews {
    text-align: center;
    padding: 15px 0px;
    background: url(../images/pier-sussex.webp) no-repeat center / cover;
    /* Tint background white */
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

#reviews a,
#reviews h3 {
    margin: 10px 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    max-width: 400px;
    display: inline-block;
    line-height: 2;
    border-radius: 5px;
    transition: background-color 1s ease;
}

#reviews a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#reviews h3 {
    font-size: 1.4rem;
}

/* Map section */
#map {
    box-shadow: black 0px -8px 13px -8px;
}

#map iframe {
    width: 100%;
    border: none;
    height: 400px;
    vertical-align: bottom;
}

/* Services page */
#services {
    width: 100%;
    margin-top: 30px;
    background: url(../images/pest-paper.webp) center / cover;
    height: 100%;
    /* Parent flex properties */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#services>div {
    background-color: rgba(0, 0, 0, 0.6);
    border: solid rgba(255, 255, 255, 0.6) 1px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;
    /* Make anchor links on index.html accurate */
    scroll-margin-top: 5.5vh;
    /* Child flex properties */
    flex: 1 500px;
    /* Parent flex properties */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#services>div>h2 {
    display: block;
    padding: 6px 0;
    font-size: 200%;
    /* Child flex properties */
    flex: 100%;
}

#services>div>p {
    padding: 10px 0px 0px 10px;
    font-size: 120%;
    /* Child flex properties */
    flex: 100%;
}

.pest-image {
    display: block;
    margin-top: 12px;
    border: solid rgba(255, 255, 255, 0.6) 3px;
    border-radius: 50%;
    width: 30%;
    /* Child flex properties */
    flex: 100%;
}

.pest-container {
    margin-top: 25px;
    /* Child flex properties */
    flex-basis: 100%;
    /* Parent flex properties to center video*/
    display: flex;
    justify-content: center;
}

.pest-video {
    border: solid rgba(255, 255, 255, 0.6) 1px;
    aspect-ratio: 16/ 9;
    width: 95%;
}

/* Contact us page */
#contact-options {
    position: relative;
    background: url("../images/bookshelves.webp") no-repeat 50% / cover;
    /* Tint background white */
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    /* Child flex properties */
    flex: 1;
    /* Parent flex properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-boxes {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    width: 80%;
    border-radius: 3px;
}

#query-box {
    margin-top: 80px;
}

#query-box label,
#query-box input,
#query {
    display: block;
    margin: 5px 0px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

#query-box #submit {
    height: 40px;
    margin-top: 20px;
    font-family: "Radio Canada Big", sans-serif;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: white;
    border: rgba(255, 255, 255, 0.4) solid 2px;
    box-shadow: 0 2px 2px #1f1f1f;
    font-size: 1.25em;
    transition: opacity 0.5s ease;
}

#query-box #submit:hover {
    opacity: 0.7;
}

#query {
    height: 80px;
    resize: none;
}

#contact-information {
    margin: 5% 0;
}

#contact-information ul {
    list-style-type: none;
}

/* Footer */
footer {
    background-color: #ff474c;
    padding: 2px;
    /* Parent flex properties */
    display: flex;
    justify-content: space-evenly;
}

#social-medias {
    width: 100%;
    list-style-type: none;
    /* Parent flex properties */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icon {
    color: white;
    padding: 10px 5px;
}

/* Media query - tablets and larger (768px) */
@media screen and (min-width:768px) {

    /* Header */
    header {
        justify-content: center;
        background-color: white;
    }

    #logo {
        font-size: 1.8rem;
    }

    #burger {
        display: none;
    }

    /* Navbar */
    nav {
        width: 100%;
        border-radius: 0px;
        display: block;
        color: black;
        background-color: #ff474c;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: #1f1f1f 1px solid;
    }

    #menu li {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    #menu li:not(:last-child) {
        border-bottom: 0px;
    }

    /* Main */
    main {
        margin-top: 32px;
    }

    #hero {
        height: 700px;
    }

    #call-us-option-one {
        display: none;
    }

    #call-us-option-two {
        display: inline;
    }

    /* Services */
    #services {
        margin-top: 68px
    }

    #services div {
        /* Make anchor links on index.html accurate */
        scroll-margin-top: 10vh;
    }

    /* Contact us */
    .pest-image {
        display: inline-block;
        /* Child flex properties */
        flex: 50%
    }

    #services>div>p {
        padding: 10px 0px 0px 20px;
        /* Child flex properties */
        flex: 50%
    }
}

/* Media query - laptops and larger (1028px) */
@media screen and (min-width:1028px) {

    #query-box {
        width: 40%;
    }

    #contact-information {
        margin-top: 4%;
        width: 40%;
    }
}