/* Import Google font Radio Canada Big */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Radio Canada Big", sans-serif;
    color: #1f1f1f;
    /* Sets minimum viewport height and parent flex properties */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #E78895;
    width: 100%;
    box-shadow: 0 2px 2px #1f1f1f;
    z-index: 99;
    padding: 0 1rem;
    position: fixed;
    /* Flex display to put header and burger in row */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    /* Stop links changing style when clicked */
    text-decoration: none;
    color: inherit;
}

#toggle-navbar {
    display: none;
}

#toggle-navbar:checked~nav {
    display: block;
}

#logo {
    letter-spacing: 1px;
    font-size: 1.25em;
}

#burger {
    font-size: 180%;
    padding-right: 18px;
}

/* Navbar */
nav {
    /* Position navbar relative to header */
    position: absolute;
    background-color: #E78895;
    right: 0px;
    box-shadow: 0 2px 2px #1f1f1f;
    display: none;
    top: 100%;
    border-bottom-left-radius: 8px;
}

#menu {
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    padding: 0.3em 1.5em;
}

#menu li:not(:last-child) {
    border-bottom: 1.2px #1f1f1f solid;
}

#menu li:hover:not(.active) {
    background-color: #b64f5c;
}

.active {
    background-color: #1f1f1f;
    color: white;
}

/* Main */
main {
    background-color: #FFF7F1;
    /* Child flex properties to fill page height */
    flex: 1 0 auto;
    margin-top: 38px;
}

#hero {
    background: url("../images/pest-control-hero-two.webp") no-repeat center center / cover;
    width: 100%;
    height: 400px;
    position: relative;
}

#call-us-box {
    position: absolute;
    color: black;
    background-color: #E78895CC;
    bottom: 10%;
    text-align: center;
    width: 80%;
    left:0;
    right:0;
    margin: 0 auto;

}

#call-us {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #abdbe3BC;
    display: inline-block;
    border: black 2px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0px;
}

/* Footer */
footer {
    background-color: #E78895;
}

/* Media query - tablets and larger (768px) */
@media screen and (min-width:768px) {

    /* Header */
    header {
        justify-content: center;
    }

    #logo {
        font-size: 1.8rem;
    }
    
    #burger {
        display: none;
    }

    /* Navbar */
    nav {
        width: 100%;
        border-radius: 0px;
        display: block;
    }
    
    #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #1f1f1f 1px solid;
    }  

    #menu li {
        width: 100%;
        padding: 5px 0px;
        text-align: center;
    }

    #menu li:not(:last-child) {
        border-bottom: 0px;
    }

    /* Main */
    #hero {
        margin-top: 31px;
    }
}