/* Import Google font Radio Canada Big */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big&display=swap');

/* General styles */
body {
    border-top: 0;
    margin: 0;
    font-family: "Radio Canada Big", sans-serif;
}

/* Header */
header {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

#toggle-navbar {
    display: none;
}

#logo {
    margin: 0;
    text-align: center;
    padding: 20px 16px 20px 8px;
    font-size: 2rem;
}

#burger {
    font-size: 180%;
    padding-right: 18px;
}

/* Main */
main {
    background-color: orange;
}
